:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #F9F9F9;
    --grey50: #EEEEEE;
    --grey100: #CCCCCC;
    --grey200: #AAAAAA;
    --grey300: #888888;
    --grey400: #333333;
    --grey500: #222222;
    --primary: #002E4F;
};