:root {
    --white: #FFFFFF;
    --black: #000000;
    --grey: #F9F9F9;
    --grey50: #EEEEEE;
    --grey100: #CCCCCC;
    --grey200: #AAAAAA;
    --grey300: #888888;
    --grey400: #333333;
    --grey500: #222222;
    --blue: #0073BF;
    --light-red: #BB6666;
    --light-green: #66BB6A;
    --light-green-hover: #5FA362;
    --light-blue: #667DBB;
    --primary: #002E4F;
    --light-primary: #D9F0FF;
    --error: #D32F2F;
    --heading-text: 24px;
    --subheading-text: 21px;
    --text: 16px;
};